@font-face {
	font-family: 'icons';
	src:url('../fonts/icons.eot?-cfko4a');
	src:url('../fonts/icons.eot?#iefix-cfko4a') format('embedded-opentype'),
		url('../fonts/icons.woff?-cfko4a') format('woff'),
		url('../fonts/icons.ttf?-cfko4a') format('truetype'),
		url('../fonts/icons.svg?-cfko4a#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.i-search:before {
	content: "\e900";
}
.i-searchcircle:before {
	content: "\e901";
}
.i-chair:before {
	content: "\e600";
}
.i-logo:before {
	content: "\e601";
}
.i-phone:before {
	content: "\e602";
}
.i-post:before {
	content: "\e603";
}
.i-email:before {
	content: "\e604";
}
.i-list:before {
	content: "\e605";
}
.i-left:before {
	content: "\e606";
}
.i-right:before {
	content: "\e607";
}
.i-company:before {
	content: "\e608";
}
.i-calendar:before {
	content: "\e609";
}
.i-github:before {
	content: "\e60a";
}
.i-tag:before {
	content: "\e60b";
}
.i-pyjobslogo:before {
	content: "\e60c";
}
.i-globe:before {
	content: "\e60d";
}

