* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    text-decoration:inherit;
    font-size: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

table {
    border-collapse: collapse;
}

:focus {
    outline: 0;
}

::-moz-focus-inner {
    border: 0;
}

/* clearfix */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: block;
}


* html .clearfix {
    height: 1%;
}

body{
    font-family: 'Quattrocento Sans';"Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    padding: 0;
    margin: 0;
}
html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }

#container{
background-color: white;
       max-width: 900px;
          margin: 0 auto;
}

#main{
    padding-top: 10px;
    padding-bottom: 10px;
}

#logo{
    height: 64px;
    width: 287px;
    margin-left: auto;
    display: block;
}

footer{
  position: relative;
  margin:0;
  padding:0;
  height: 1.2em;
  margin-top: -1.2em;
  line-height: 1.2em;
  clear: both;
  width: 100%;
  overflow: hidden;
  text-align: center;
  text-shadow: 0px 2px 0px #fff;
}

nav{
    text-align: right;
}
nav li{ 
    display: inline-block;
    margin-right: 10px;
}

nav a.active { 
    color: black;
}

nav ul{
    list-style: none;
}

ul.tags{
    display: inline-block;
}
ul.tags li{
    display: inline-block;
    margin: 3px 1px;
}
ul.tags .tag{
    background: #aaa;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    padding: 3px 5px;
    text-shadow: 0 1px 0 #666;
}
ul.tags .tag:hover{
    background: #7e98cb;
};