* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    color: inherit;
    text-decoration:inherit;
    font-size: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

table {
    border-collapse: collapse;
}

:focus {
    outline: 0;
}

::-moz-focus-inner {
    border: 0;
}

b, strong{
  font-weight: bold;
}

em{
  font-style: italic;
}

i{
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 2px;
}

/* === Header === */

body{
  font-family: 'Source Sans Pro', 'Verdana', sans-serif;
  background-color: white;
  padding: 0;
  margin: 0;
}

header{
  top: 0;
  right: 0;
  left: 0;
  background-color: #48a0dc;
  padding: 10px;
  text-align: right;
}

header .in{
  margin: 0 auto;
  color: white;
}

header a,
header a:hover{
  color: inherit;
}

#logo{
  position: absolute;
  font-size: 60px;
  text-shadow: 3px 3px 5px #2C7BB2;
  top: 6px;
}

#title{
  font-weight: lighter;
  font-size: 300%;
  color: #a3d2f2;
}
#title span{
  font-weight: lighter;
  font-style: normal;
  color: white;
}

/* Layout */


#container {
    margin: 0 10px;
}

header {
    margin: 0 -10px;
}

#main{
  padding-bottom: 3.5em; /* 3m of footer at the bottom */
}

header .in,
#content{
  max-width: 900px;
  margin: 0 auto;
}

footer{
  background: #555;
  color: white;
  position: relative;
  margin:0;
  padding: 0.6em 1em;
  margin-top: -3em;
  line-height: 1.3em;
  clear: both;
  overflow: hidden;
  text-align: center;
}

footer .about{
  display: block;
  font-weight: bold;
}
footer i{
  font-size: 90%;
  margin-bottom: 3px;
  margin-left: 3px;
}

#content{
  margin-top: 10px;
}
/* Main Body Styles */
a:hover{
  color: #48a0dc;
}

h1{
  font-size: 200%;
  font-weight: lighter;
  color: #2D76A8;
}

/* Listing Styles */

.job a:hover {
  text-decoration: underline;
}

section.job_list i{
  vertical-align: bottom;
  margin-bottom: 2px;
  display: inline-block;
  color: #666;
  margin-right: 0.3em;
}

section.job_list .job{
  box-shadow: 2px 2px 4px #ddd;
  margin: 10px 0;
  background: #fafafa;
  padding: 10px 15px;
  border: solid #eee 1px;
}

section.job_list .info{
  margin-right: 15px;
  color: gray;
}

section.job_list .job h1{
  font-size: 140%;
  color: #48a0dc;
  margin-bottom: 0.1em;
}

section.job_list .go_button{
  display: block;
  float: right;
  background: #48a0dc;
  color: white;
  margin: 2px -3px 8px 10px;
  padding: 5px 8px;
  box-shadow: 1px 1px 3px #aaa;
  transition: background-color 0.3s;
}

section.job_list .go_button i{
  color: inherit;
}

section.job_list .go_button:hover{
  background: #2D76A8;
  text-decoration: none;
}

section.job_list p{
  color: black;
  font-weight: 100;
  font-size: 95%;
  margin-top: 1em;
}


/* Job Ad Styles */
nav.main{
  color: #666;
  text-align: right;
  text-shadow: 2px 2px 3px #ddd;
}
nav.main i{
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 2px;
}
nav.main a{
  margin-left: 15px;
}

article.job{
  padding-bottom: 20px;
}

article.job h1{
  margin-top: 20px;
}
article.job ul,
article.job ol{
  margin-left: 1.5em;
}

article.job .head{
  color: #888;
  margin-bottom: 15px;
}
article.job .head span{
  color: black;
  margin: 5px;
}

article.job .tags ul,
article.job .tags li{
  list-style: none;
  margin: 0;
  display: inline-block;
}

article.job .head .tag{
  display: inline-block;
  color: white;
  background: #aaa;
  text-shadow: 1px 1px 0 #666;
  padding: 1px 5px;
  border-radius: 2px;
}
article.job h2{
  font-weight: bold;
  font-size: 120%;
  margin-top: 20px;
}
article.job h3{
  font-weight: bold;
  margin-top: 20px;
}
article.job hr{
  margin: 20px;
}
article.job p{
  margin-top: 7px;

}

article.job .contact{
  color: #666;
  font-weight: lighter;
}
article.job .contact span{
  font-weight: normal;
  color: black;
  margin-left: 5px;
}

@media (max-width: 630px), (max-height: 500px) {
    #title {
        font-size: 200%;
    }

    #logo {
        top: -3px;
    }
}
