<!doctype html>
<!-- https://github.com/paulirish/html5-boilerplate/blob/master/index.html -->
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <!-- meta element for compatibility mode needs to be before
        all elements except title & meta
        msdn.microsoft.com/en-us/library/cc288325(VS.85).aspx -->
  <meta charset="utf-8">
  {% block starthead %}{% endblock starthead %}

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description|default(resource.meta.title) }}">

  <!--  Because we have responsive styles, don't set device-width which makes rotation look weird
        and allow users to zoom-in/out as they wish -->
  <meta name="viewport" content="initial-scale=1">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/touch-icon-iphone.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/touch-icon-ipad.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/touch-icon-ipad-retina.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/touch-icon-iphone6.png">
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="The Free Python Job Board's atom feed" />
  <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml"/>

  {% block css %}
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ media_url('css/font.css') }}">
  <link rel="stylesheet" href="{{ media_url('css/site.css') }}">
  {% endblock css %}
  {% block headjs %}
  {% endblock headjs %}
  {% block endhead %}{% endblock endhead %}
</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
  {% block content %}
  <header>
    <div class="in">
      <div id="logo"><a href="/"><i class="i-pyjobslogo"></i></a></div>
      <div id="title"><a href="/">The Free <span>Python Job Board</span></a></div>
      <div class="sub">for the global Python community</div>
    </div>
  </header>
  <div id="container">
      {% block container %}
      <div id="main" role="main">
          {% block below_header %}
            <section id="content">
            {% block main %}
            {% endblock main %}
            </section>
          {% endblock %}
      </div>
    {% endblock container %}
  </div> <!--! end of #container -->
  <footer>
    <a class="about" href="https://www.github.com/pythonjobs/jobs">
      Have a job to advertise? Create a pull-request <i class="i-github"></i>
    </a>
      The Free Python Job Board - Hosted by
      <a href="https://www.github.com/pythonjobs/jobs" target="_blank">github</a>, generated with <a href="http://hyde.github.io/">hyde</a>.
  </footer>
  {% endblock content%}
  {% block js %}
  <!-- Javascript at the bottom for fast page loading -->
  {% block jquery %}
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>window.jQuery || document.write('<script src="/media/js/libs/jquery-1.5.1.min.js">\x3C/script>')</script>
  {% endblock jquery %}

  {% block scripts %}
  {% endblock scripts %}
  {% block analytics %}
  {% include "analytics.j2" %}
  {% endblock analytics %}

  {% endblock js %}
</body>
</html>
