{% extends "base.j2" %}
{% block scripts %}
    <script src="/media/js/tags.js"></script>
    <script src="/media/js/libs/stemming.js"></script>
    <script src="/media/js/search.js"></script>
{% endblock %}
