{% extends "base.j2" %}

{%  block endhead %}
    <meta property="og:site_name" content="The Free Python Job Board"/>
    <meta property="og:title" content="{{ resource.meta.company }}: {{ resource.meta.title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://pythonjobs.github.io/touch-icon-ipad-retina.png" />
    <meta property="og:description" content="{{ resource.detail|markdown|typogrify|striptags|truncate(220) }}" />
    <meta property="og:url" content="{{ full_url(resource.url) }}" />
{%- endblock %}

{% block main -%}
<nav class="main">
    <a class="backlink" href="{{ content_url(resource.node.parent.url) }}">
        <i class='i-list'></i>
        Back to list
    </a>
    {% if resource.prev_by_time %}
    <a class="prev"
        title="{{ resource.prev_by_time.meta.title }}"
        href="{{ content_url(resource.prev_by_time.url) }}">
        <i class='i-left'></i>
        Previous Job
    </a>
    {% endif %}

    {% if resource.next_by_time %}
    <a class="next"
        title="{{ resource.next_by_time.meta.title }}"
        href="{{ content_url(resource.next_by_time.url) }}">
        Next Job <i class='i-right'></i>
    </a>
    {% endif %}

    <a class="problem"
    href="https://github.com/pythonjobs/jobs/issues">
    Report a problem
    </a>
</nav>

<article class="job">
    <h1>
            {{ resource.meta.title }}
    </h1>
    <div class="head">
        Posted by
        <span>
            {% if resource.meta.url %}
            <a href="{{ resource.meta.url }}" target="_blank">
            {% endif %}
                <i class="i-company"></i>
                {{ resource.meta.company }}
            {% if resource.meta.url %}
            </a>
            {% endif %}
        </span>
        on
        <span>
            <i class="i-calendar"></i>
            {{ resource.meta.created.strftime('%a, %d %b %Y') }}
        </span>
        <div>
        Contract type: <span>{{ resource.meta.contract }}</span>.  Location: <span>{{ resource.meta.location }}</span>
        </div>
        {% if resource.meta.tags %}
        <div class="tags">
            <i class="i-tag"></i> Tags:
            <ul class="tags clear">
                {% for tag in resource.meta.tags %}
                    <li>
                        <a class="tag" href="{{ content_url('tags/'~tag|lower~'.html') }}">
                            {{ tag|lower }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <div class="contact">
        <h1>Contact</h1>
        <div class="field">
            Name: <span>{{ resource.meta.contact.name }}</span>
        </div>
        <div class="field">
            Email: <span><a href="mailto:{{ resource.meta.contact.email }}?subject=pythonjobs.github.io - {{resource.meta.title|urlencode}}">{{ resource.meta.contact.email }}</a></span>
        </div>
        {% if resource.meta.url %}
        <div class="field">
            Website: <span><a href="{{ resource.meta.url }}">{{ resource.meta.url }}</a></span>
        </div>
        {% endif %}
        {% for key, value in resource.meta.contact %}
            {% if key in ['name', 'url', 'email'] %}
            {% else %}
                <div class="field">
                    {{ key|title }}: <span>{{ value }}</span>
                </div>
            {% endif %}
        {% endfor %}
    </div>


    <div class="body">
        {% filter markdown|typogrify -%}
        {% mark detail -%}
        {% block detail -%}{%- endblock %}
        {%- endmark %}
        {%- endfilter %}
    </div>

</article>

{%- endblock %}
