{% macro render_excerpt(res, class=None) %}
    {% refer to res.relative_path as job %}
    <h1><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h1>

    <span class="info"><i class="i-globe"></i> {{ res.meta.location }}</span>
    <span class="info"><i class="i-calendar"></i> {{ res.meta.created.strftime('%a, %d %b %Y') }}</span>
    <span class="info"><i class="i-chair"></i> {{ res.meta.contract }}</span>
    <span class="info"><i class="i-company"></i> {{ res.meta.company }}</span>
    
    <p> {{ job.detail|markdown|typogrify|striptags|truncate(220) }}</p>
    
{% endmacro %}

{% macro full_url(rel) -%}
https://pythonjobs.github.io{{ content_url(rel) }}
{%- endmacro%}