<?xml version="1.0" encoding="UTF-8"?>
{% from "macros.j2" import full_url with context %}
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for res in resource.node.walk_resources_sorted_by_time() %}
        {% refer to res.relative_path as job %}
        <url>
        <loc>{{ full_url(res.url) }}</loc>
        </url>
    {% endfor %}

    {% for name, path in site.tagger.tags|sort %}
        <url>
        <loc>{{ full_url(content_url('/tags/'~name~'.html')) }}</loc>
        </url>
    {% endfor %}

</urlset>


