{% extends "base.j2" %}
{% from "macros.j2" import render_excerpt with context %}
{% block main %}

    <nav class="main">
        <a class="backlink" href="./">
            <i class='i-left'></i>
            Show all tags
        </a>
    </nav>

    <h1>Jobs tagged with <b>{{ tag.name }}</b></h1>
    <section class="job_list">
        {% for job in walker() -%}
            <div class="job">
                <a class="go_button"
                    href="{{ content_url(job.url) }}">
                    Read more <i class="i-right"></i>
                </a>
                {{ render_excerpt(job, 'post') }}
            </div>
        {% endfor %}
    </section>
{% endblock %}
